<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Bienvenido a mi sitio {% endblock %} </title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif; background: linear-gradient(to right, #4facfe, #1f618d ); color: white; text-align: center;">
{% block header %}
    <div style="padding: 80px 20px;">
        <h1 style="font-size: 3em; margin-bottom: 20px;">¡Bienvenido a Mi Sitio Web!</h1>
        <p style="font-size: 1.3em;">Esta es la página de inicio de nuestro proyecto con Django.</p>
        
    </div>
{% endblock %}



{% block content %}
    <div style="padding: 80px 20px;">
        <h1 style="font-size: 3em; margin-bottom: 20px;">Segunda parte</h1>
        <p style="font-size: 1.3em;">Esta es la página de inicio de nuestro proyecto con Django.</p>
        
    </div>

    <footer style="position: fixed; bottom: 0; width: 100%; padding: 10px 0; background-color: rgba(0,0,0,0.2); font-size: 0.9em;">
        © 2025 - Mi Proyecto Django
    </footer>
{% endblock %}



</body>
</html>